{% extends '_base.html' %}
{% load static %}

{% block title %}Инвестиции{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index/index.css' %}">
{% endblock %}

{% block money %}
    <a href="#" class="header__link">Ваш баланс: {% if user.is_authenticated %} {{ user.money }} {% endif %} </a>
{% endblock %}

{% block content %}
    <section class="section section--btns">
        <h1>Инвестиции</h1>
        <form method="post" class="container">
            {% csrf_token %}
            <button name="tiket_1">1 акция</button>
            <button name="tiket_2">2 акция</button>
            <button name="tiket_3">1 акция</button>
            <button name="tiket_4">2 акция</button>
            <button name="tiket_5">1 акция</button>
            <button name="tiket_6">2 акция</button>
            <button name="tiket_7">1 акция</button>
            <button name="tiket_8">2 акция</button>
            <button name="tiket_9">1 акция</button>
            <button name="tiket_10">2 акция</button>
        </form>
    </section>
{% endblock content %}