{% extends '_base.html' %}
{% load static %}

{% block title %}Уровни{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index/index.css' %}">
{% endblock %}
{% block money %}
    <a href="#" class="header__link">Ваш баланс: {% if user.is_authenticated %} {{ user.money }} {% endif %} </a>

{% endblock %}

{% block step %}
    <div class="header__step">
        <p class="header__text">Шаг 3</p>
    </div>
{% endblock %}
{% block content %}
    <section class="section section--btns">
        {% for message in messages %}
            <li{% if message.tags %}{% endif %}>{{ message }}</li>
        {% endfor %}
        <form method="post" class="">
            {% csrf_token %}
            {% for products in product %}
                <button class="btn" name="{{ products }}">{{ products }}</button>
            {% endfor %}
        </form>
        <a href="{% url 'invest_easy' %}">Продолжить</a>
    </section>

    <script src="{% static 'js/orientation.js' %}"></script>
{% endblock content %}
