<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../static/css/style/style.css">
        <link rel="stylesheet" href="../static/css/index/index.css">

        <title>Главная</title>
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="header__step">
                    <p class="header__text">Шаг</p>
                </div>

                <div class="header__auth-state">
                    <a href="#" class="header__link">Валерчик</a>
                    <a href="#" class="header__link">Ваш счет: 5000</a>
                </div>
            </div>
        </header>

        <main class="main">
            <section class="section section--btns">
                
                <div class="container">
                    <button class="btn">Легко</button>
                    <button class="btn">Средне</button>
                    <button class="btn">Сложно</button>
                </div>
               
            </section>
        </main>


        <script src="../static/js/screen_1/switching.js"></script>
    </body>
</html>