{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>{% block title %}GangX{% endblock title %}</title>
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'css/style/style.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>
<header class="header">
    <div class="container">
        {% block step %}
        {% endblock %}
        <div class="header__step">
        </div>
        {% if user.is_authenticated %}
            <div class="header__auth-state">
                <a href="#" class="header__link">Валерчик</a>
                <a href="{% url 'account_logout' %}" class="header__link">Выйти</a>
                {% block money %}
                {% endblock %}
            </div>
        {% else %}
            <form class="header__link form-inline ml-auto">
                <a href="{% url 'account_login' %}" class="header__link">Войти</a>
                <a href="{% url 'account_signup' %}" class="header__link">Регистрация</a>
            </form>
        {% endif %}
    </div>
</header>
<main class="main">
    {% block content %}
    {% endblock %}
</main>

{% block javascript %}

{% endblock javascript %}

</body>
</html>
