@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

ul, ul li {
  list-style: none;
}

button, input[type="submit"] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;

  background-color: #f8fff4 !important;
}

.weight {
  font-weight: 700;
}

.active {
  display: inline-block !important;
}

.container {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  width: 100%;
  height: 30px;
  background-color: #3d7f38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__text, .header__link {
  font-family: 'Comfortaa', cursive;
  color: #fff;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
}

.header__link {
  color: #fff;
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
  padding: 0 20px;
}

.header__link:first-child {
  border-right: 2px solid #fff;
}

.header__money {
  color: #fff;
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
  padding: 0 20px;
}

.section {
  height: calc(100vh - 30px);
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8fff4;

  width: 100%;
}



.section--img {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}


.background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.main {
  min-height: calc(100vh - 30px);
  max-height: max-content;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 28px;
  text-align: center;

  padding: 0 10px;
  margin: 20px 0 20px;
}

.reg-form {
  width: 90%;

  display: flex;
  flex-direction: column;

  margin-top: 40px;
}

.label {
  color: #000000;
  font-size: 16px;
  font-weight: 500;

  margin-bottom: 10px;
}

.field {
  width: 100%;

  margin-bottom: 30px;
}

.field:last-child {
  margin-bottom: 0;
}

.field input {
  width: 100%;

  font-size: 21px;
  color: #ffffff;
  font-weight: 700;

  /*border: 2px solid #3d7f38;*/
  border-radius: 10px;

  background-color: #50b84860;

  padding: 5px 10px;

}

.field input::placeholder {
  color: #00000000;
}

.errorlist li {
  font-size: 14px;
  color: red;
  line-height: 1;
  text-align: center;
}

.btn-submit {
  display: block;
  width: 100%;

  color: #ffffff;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;

  padding: 10px 0;
  border-radius: 10px;

  background-color: #50b848;
}

.auth {
  width: 100%;

  display: flex;
  justify-content: center;

  margin: 10px 0;
}

.auth__link {
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 500;
  color: #3d7f38;
}

.desc {
  height: 5%;
  overflow: hidden;
}

.main__text {
  margin-top: 20px;
  margin-left: 20px;
}

.text {
  color: #fff;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  max-width: 80vw;
}

.stages-line {
  display: -ms-grid;
  display: grid;
  grid-template: 'first second third' 1fr 'none none forth' 1fr / -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template: 'first second third' 1fr 'none none forth' 1fr / max-content max-content max-content;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: calc(200vh - 60px);
  -webkit-transition: all 25s;
  transition: all 25s;
}

.stage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: calc(100vh - 30px);
}

.stage--first {
  grid-area: first;
}

.stage--second {
  grid-area: second;
}

.stage--second {
  grid-area: second;
}

.stage--third {
  grid-area: third;
}

.stage--none {
  grid-area: none;
}

.stage--forth {
  grid-area: forth;
}

.section--btns {
  width: 100%;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  background-color: #50b848;
  text-align: center;
  color: #fff;
  font-size: 25px;
  line-height: normal;
  font-weight: 700;
  display: inline-block;
  width: 8em;
  padding: .5em;
  border-radius: .5em;
}

.btn:hover {
  background-color: #3d7f38;
}

.text--black {
  color: #000000;
  font-weight: 500;
  line-height: 1.2;
  font-size: 16px;

  margin-bottom: 10px;
}

.text--short {
  max-width: 400px;
}

.text--left {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 400px;
}

.btn-area {
  position: absolute;
  bottom: 5%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-title {
  font-size: 24px;
  text-align: center;

  margin-top: 30px;
  margin-bottom: 50px;
}

.warner {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #202020;
}

.warner__title {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;


  padding: 0 10px;
  margin-bottom: 30px;
}

.warner__icon {
  fill: #fff;
  width: 60vw;
  height: 60vw;
}

.container--form {
  width: 100%;
  padding: 0 10px;

}

.next-link {
  color: #50b848;
  font-size: 20px;
  font-weight: 700;


  display: flex;
  align-items: center;
}

.next-link span {
  color: inherit;
  font-size: 1.5em;

}

.article {
  max-width: 50vw;
  height: max-content;

  position: absolute;
  top: 10px;
  right: 10px;

  z-index: 2;

  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
}

.stonks-img {
  position: absolute;
  top: 0;
  right: 0;

  z-index: 1;

  height: 240px;
  width: 320px;
}

.section--market {
  box-sizing: border-box;
  padding: 10px;
}

.shop {
  height: 80vh;
  width: 70vw;

  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;
  grid-gap: 5px;

  background-color: transparent;
}

.shelf {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;

  border-bottom: 2px solid #000;
}

.product {
  width: 100%;
  height: 100%;

  font-weight: 700;
}

.product img {
  height: 60px;
  width: 60px;
}

.product__input {
  display: none;
}

.product__label {
  width: 100%;
  height: 100%;

  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;


}

.product__input:checked ~ .product__label {
  background-color: #3d7f3820;
}

.product__label p {
  text-align: center;
}

.wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-btn {
  padding: 10px 20px;
  border-radius: 10px;

  background-color: #50b848;

  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.next-btn:disabled {
  opacity: .5;
}

.next-btn a {

}

.shop-text {
  font-size: 18px;
  font-weight: 500;
  text-align: center;

  margin-bottom: 20px;
}

.green {
  color: #50b848;
}

/*# sourceMappingURL=style.css.map */