@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

ul, ul li {
  list-style: none;
}

button, input[type="submit"] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}

.active {
  display: inline-block !important;
}

.container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  width: 100%;
  height: 30px;
  background-color: #3d7f38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__text, .header__link {
  font-family: 'Comfortaa', cursive;
  color: #fff;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
}

.header__link {
  color: #fff;
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
  padding: 0 20px;
}

.header__link:first-child {
  border-right: 2px solid #fff;
}

.section {
  height: calc(100vh - 30px);
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.desc {
  height: 5%;
  overflow: hidden;
}

.main__text {
  margin-top: 20px;
  margin-left: 20px;
}

.text {
  color: #fff;
  font-size: 21px;
  line-height: 2;
  font-weight: 700;
  max-width: 80vw;
}

.stages-line {
  display: -ms-grid;
  display: grid;
  grid-template: 'first second third' 1fr 'none none forth' 1fr / -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template: 'first second third' 1fr 'none none forth' 1fr / max-content max-content max-content;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: calc(200vh - 60px);
  -webkit-transition: all 25s;
  transition: all 25s;
}

.stage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: calc(100vh - 30px);
}

.stage--first {
  grid-area: first;
}

.stage--second {
  grid-area: second;
}

.stage--second {
  grid-area: second;
}

.stage--third {
  grid-area: third;
}

.stage--none {
  grid-area: none;
}

.stage--forth {
  grid-area: forth;
}

.section--btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  background-color: #50b848;
  text-align: center;
  color: #fff;
  font-size: 25px;
  line-height: normal;
  font-weight: 700;
  display: inline-block;
  width: 8em;
  padding: 1em;
  border-radius: .5em;
}

.btn:hover {
  background-color: #3d7f38;
}

.text--short {
  max-width: 400px;
}

.text--left {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 400px;
}

.btn-area {
  position: absolute;
  bottom: 5%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */